@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

:root {
    --WHITE: #fff;

    --B-R: 25;
    --B-G: 25;
    --B-B: 25;
    --B-A: 1;

    --MAIN-BLACK: rgba(var(--B-R), var(--B-G), var(--B-B), var(--B-A));
}

html, body {
  font-family: 'jetbrains mono', monospace;
}

.theme-dark {
    --header-primary: #191919;
    --header-secondary: #191919;
    --text-normal: var(--WHITE);
    --text-muted: #72767d;

    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: var(--WHITE);
    --interactive-muted: #4f545c;

    --background-primary: var(--MAIN-BLACK);
    --background-secondary: var(--MAIN-BLACK);
    --background-secondary-alt: #292b2f;
    --background-tertiary: var(--MAIN-BLACK);
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-nested-floating: #2f3136;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #36393f;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
}