@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

html, body {
  font-family: 'jetbrains mono', monospace;
}

.theme-dark {
	--header-primary: #191919;
    --header-secondary: #191919;
    --text-normal: #FFF;
}